# Example tdengine configuration
serverPort = {{ tdengine_server_port | default(6030) }}
firstEp = {{ tdengine_first_ep | default(groups['tdengine'][0]) }}:{{ tdengine_server_port | default(6030) }}
fqdn = {{ tdengine_fqdn | default(inventory_hostname) }}
rootPwd = {{ tdengine_root_pwd | default('taosdata') }}
